.homepage {

  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;

  h2 {
    text-align: center;
  }

  .btn-update-value {
    background-color: #C4C4C4;
    border: none;
    width: 60%;
    padding: 10px 0;
    margin: 0 auto;
    
    &:hover {
      background-color: #d1cfcf;
    }
  }
  .bitcoin-value {
    margin: 50px auto;
    display: flex;
    flex-direction: column;

    input {
      width: 80%;
      margin: 0 auto;
    }
  }
  .currencies {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .currency-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
  }
  .currency-value {
    p {
      background-color: #C4C4C4;
      margin: 0;
      padding: 10px 20px;
      text-align: center;
    }
  }

 }